/* CSS Document */
body {
	background-color: #F5F5F5;
	font-size:11px;
	font-weight:normal;
	font-family:Verdana;
}

table {
	font-size:11px;
	font-weight:normal;	
	font-family:Verdana;
}

/*input [type="text"] {
	width:500px;
}*/

select {
	width:200px;
}

/*textarea {
	overflow:auto;
	width:300px;
	height:100px;
}*/

a,a:visited {
	color:#0000CC;
	text-decoration:none;
}

a:hover{
	color:#0000CC;
	text-decoration:underline;
}


/* for bold voices */
.voice {
	color:#000000;
	font-weight:bold;
}

/* for title inside the main div of the page */
.voice.title {
	font-size:14px;
	margin-left:30px;
}

/* used for text that is not important. You'll see it but it's just an extra detail */
/* such as the caption of a picture */
.description {
	color:#666666;
	font-size:9px;
}

/* for links at the top of the page such as + add ticket */
.add_voice {
	text-align:right;
	margin-right:30px;
}


/* the following styles are just for the ticket.php page */

.profile_pic_left {
	bottom:0px;
	vertical-align:bottom;
	position:absolute;
/*	border:1px solid black; */
}

.profile_pic_right {
	bottom:0px;
	right:0px;
	width:130px;
	vertical-align:bottom;
	position:absolute;
/*	border:1px solid black;*/
}

.top_main_ticket {
	width:835px;
	position:relative;
/*	border:double red;*/
}

.change_detail_ticket {
	float:right;
	top:20px;
	right:0px;
	position:absolute;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:20px;
	padding-top:20px;
border-style:solid;
 border-width: thin;
 border-color:#CBCBCB;
 

}

.main_ticket_div {
	width:550px;
	overflow:hidden;
	margin-right:30px;
	margin-left:30px;
	position:relative;
	border-bottom:1px dashed grey;
/*	border:1px solid red;*/
	
}

.bubble_left {
	float:right;
	width:445px;
/*	border:1px solid yellow;*/
}

.bubble_right {
	float:left;
	width:417px;
/*	border:1px solid yellow;*/
}

.bubble_left_top {
	height:46px;
	background-image: url(images/bubble_left_top.png);
	background-repeat: no-repeat;
	background-position:right;
/*	border:1px solid yellow;*/
}

.bubble_attachment {
	left:35px;
	top:5px;
	height:40px;
	width:120px;
	position:relative;
	background-image: url(images/paperclip2.png);
	background-repeat: no-repeat;
	padding-top:10px;
	padding-left:30px;
/*	border:1px solid black;*/
	
}

.bubble_right_top {
	height:46px;
	background-image: url(images/bubble_right_top.png);
	background-repeat: no-repeat;
	background-position:left;
/*	border:1px solid yellow;*/
}

.bubble_left_sides {
	background-image: url(images/bubble_left_sides.png);
	background-repeat:repeat-y;
	background-position:right;
/*	border:1px solid black;*/
}

.bubble_right_sides {
	background-image: url(images/bubble_right_sides.png);
	background-repeat:repeat-y;
	background-position:left;
	z-index:0;
/*	border:1px solid black;*/
}

.bubble_left_bottom {
	height:80px;
	background-image: url(images/bubble_left_bottom.png);
	background-repeat: no-repeat;
	background-position:right;
	vertical-align:bottom;
/*	border:1px solid yellow;
*/}

.bubble_right_bottom {
	height:80px;
	background-image: url(images/bubble_right_bottom.png);
	background-repeat: no-repeat;
	background-position:left;
	vertical-align:bottom;
	position:relative;
/*	border:1px solid yellow;*/
}

.bubble_right_file_list {
	bottom:0px;
	left:30px;
	width:254px;
	height:40px;
	position:absolute;
/*	border:1px solid red;*/
}

.attached_file {
	float:left;
	overflow:hidden;
	width:125px;
	height:20px;
	background-image: url(images/small_paperclip.png);
	background-repeat: no-repeat;
	text-indent:15px;
	padding-top:5px;
/*	border:1px solid green;*/
}

.text_bubble {
	text-align:left;
	padding-left:70px;
	padding-right:50px;
	z-index:1;
/*	border:1px solid black;*/
}

.underneath_bubble {
	height:40px;
	padding-left:35px;
/*	border:1px solid black;*/
}

/* text area style for ticketing */
#textarea_ticket {
	width:260px;
	height:100px;
	border-style:none;
	border-color:transparent;
	overflow:auto;
	z-index:2;
}

#edit_ticket {
width:150;
}


.thumbnail {
	width:100px;
	height:100px;
}

/* imported from add_order.php and add_ind_order.php */

		/* Undo some styles from the master stylesheet */
		.checklist li { background: none; padding-left: 0; }
		
		/* CSS for checklists */
		.checklist {
			border: 1px solid #ccc;
			list-style: none;
			height: 10em;
			overflow: auto;
			width: 20em;
		}
		.checklist, .checklist li { margin: 0; padding: 0; }
		.checklist label { display: block; padding: 0 0.2em 0 25px; text-indent: -25px; }
		.checklist label:hover, .checklist label.hover { background: #777; color: #fff; }
		* html .checklist label { height: 1%; }
	
/* For Google Maps */

 v\:* {
        behavior:url(#default#VML);
      }
	  
/* sorted tables */

table.tablesorter {
	font-family:Verdana;
	background-color: #CCCCCC;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border: 1px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color:#FFCC66;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	/*color: #3D3D3D;*/
	padding: 4px;
	/*background-color: #FFF;*/
	vertical-align: top;
	border-bottom: 1px dashed #FFF;
}
table.tablesorter tbody tr.odd td {
	/*background-color:#F0F0F6;*/
	border-bottom: 1px dashed #FFF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #FF6600;
}


#searchBoxOne input.search {
    font-size: 16px;
    color: #999;
    padding: 6px;
    -moz-box-shadow:inset 2px 2px 5px #ccc;
    box-shadow:inset 2px 2px 5px #ccc;
    border: 1px solid #b8b8b8;
}
#searchBoxOne input.submit {
    background: url(images/01_submit.png) top left no-repeat;
    width: 67px;
    height: 32px;
    border: none;
    color: #dee4ff;
    cursor: pointer;
}
#searchBoxOne input.submit:hover,
#searchBoxOne input.submit.hover {
    background: url(images/01_submit.png) bottom left no-repeat;
}