.modalDialog_transparentDivs{	
	filter:alpha(opacity=40);	/* Transparency */
	opacity:0.4;	/* Transparency */
	background-color:#FCB03F;
	z-index:1;
	position:absolute; /* Always needed	*/
}
.modalDialog_contentDiv{
	padding:2px;
	z-index:100;/* Always needed	*/
	position:absolute;	/* Always needed	*/

}
